{% extends 'store/base.html' %}
{% block title %}Privacy Policy · Prachi's Organics{% endblock %}
{% block content %}
<section class="container mx-auto px-4 py-12 max-w-3xl">
  <h1 class="font-serif text-3xl mb-4">Privacy Policy</h1>
  <p class="text-gray-700 leading-relaxed">
    Last updated: March 5, 2025  <br><br>

This Privacy Policy describes how Prachi's Organics (the "Site", "we", "us", or "our") collects, uses, and discloses your personal information when you visit, use our services, or make a purchase from www.prachisorganics.com (the "Site") or otherwise communicate with us regarding the Site (collectively, the "Services"). For purposes of this Privacy Policy, "you" and "your" means you as the user of the Services, whether you are a customer, website visitor, or another individual whose information we have collected pursuant to this Privacy Policy.
Please read this Privacy Policy carefully. By using and accessing any of the Services, you agree to the collection, use, and disclosure of your information as described in this Privacy Policy. If you do not agree to this Privacy Policy, please do not use or access any of the Services.
  </p>

  <h1 class="font-serif text-3x1 mb-4 mt-8">Changes to This Privacy Policy</h1>
   <p class="text-gray-700 leading-relaxed"> We may update this Privacy Policy from time to time, including to reflect changes to our practices or for other operational, legal, or regulatory reasons. We will post the revised Privacy Policy on the Site, update the "Last updated" date and take any other steps required by applicable law.</p>

     <h1 class="font-serif text-3x1 mb-4 mt-8">How We Collect and Use Your Personal Information</h1>
   <p class="text-gray-700 leading-relaxed"> To provide the Services, we collect personal information about you from a variety of sources, as set out below. The information that we collect and use varies depending on how you interact with us.
In addition to the specific uses set out below, we may use information we collect about you to communicate with you, provide or improve or improve the Services, comply with any applicable legal obligations, enforce any applicable terms of service, and to protect or defend the Services, our rights, and the rights of our users or others.
</p>


     <h1 class="font-serif text-3x1 mb-4 mt-8">What Personal Information We Collect</h1>
   <p class="text-gray-700 leading-relaxed"> The types of personal information we obtain about you depends on how you interact with our Site and use our Services. When we use the term "personal information", we are referring to information that identifies, relates to, describes or can be associated with you. The following sections describe the categories and specific types of personal information we collect. </p>

</section>
{% endblock %}


