{% extends 'store/base.html' %}
{% block title %}Privacy Policy · Prachi's Organics{% endblock %}
{% block content %}
<section class="container mx-auto px-4 py-12 max-w-3xl">
  <h1 class="font-serif text-3xl mb-4">Privacy Policy</h1>
  <p class="text-gray-700 leading-relaxed">
    Last updated: October 25, 2025  <br><br>

Prachi’s Organics upholds the highest standards for secure transactions and the protection of your personal information and privacy. Please read the following statement to understand our information gathering and dissemination practices.
Note: This Privacy Policy is subject to change at any time without prior notice. To ensure you are aware of any updates, please review this policy periodically.
Prachi’s Organics is committed to protecting and safeguarding your privacy.
This Privacy Policy describes the types of personal information collected on the Prachi’s Organics website, how we use and share that information, and the measures we take to protect it. It also explains your rights regarding access, modification, or deletion of your personal information and how you can opt out of communications from us.
By using our website, you consent to our use and disclosure of your personal information as outlined in this Privacy Policy. If you do not agree, please do not use or access our site.
  </p>

  <h1 class="font-serif text-3x1 mb-4 mt-8">Changes to This Privacy Policy</h1>
   <p class="text-gray-700 leading-relaxed"> We may update this Privacy Policy from time to time, including to reflect changes to our practices or for other operational, legal, or regulatory reasons. We will post the revised Privacy Policy on the Site, update the "Last updated" date and take any other steps required by applicable law.</p>

     <h1 class="font-serif text-3x1 mb-4 mt-8">How We Collect and Use Your Personal Information</h1>
   <p class="text-gray-700 leading-relaxed"> To provide the Services, we collect personal information about you from a variety of sources, as set out below. The information that we collect and use varies depending on how you interact with us.
In addition to the specific uses set out below, we may use information we collect about you to communicate with you, provide or improve or improve the Services, comply with any applicable legal obligations, enforce any applicable terms of service, and to protect or defend the Services, our rights, and the rights of our users or others.
</p>


     <h1 class="font-serif text-3x1 mb-4 mt-8">What Personal Information We Collect</h1>
   <p class="text-gray-700 leading-relaxed"> The types of personal information we obtain about you depends on how you interact with our Site and use our Services. When we use the term "personal information", we are referring to information that identifies, relates to, describes or can be associated with you. The following sections describe the categories and specific types of personal information we collect. </p>

    <h2 class="font-serif text-2xl mt-8 mb-3">Information We Collect Directly from You</h2>
    <p class="text-gray-700 leading-relaxed"> Information that you directly submit to us through our Services may include:
Contact details including your name, address, phone number, and email.
Order information including your name, billing address, shipping address, payment confirmation, email address, and phone number.
Account information including your username, password, security questions and other information used for account security purposes.
Customer support information including the information you choose to include in communications with us, for example, when sending a message through the Services.
Some features of the Services may require you to directly provide us with certain information about yourself. You may elect not to provide this information, but doing so may prevent you from using or accessing these features.
</p>

    <h2 class="font-serif text-2xl mt-8 mb-3">Information We Collect about Your Usage</h2>
    <p class="text-gray-700 leading-relaxed"> We may also automatically collect certain information about your interaction with the Services ("Usage Data"). To do this, we may use cookies, pixels and similar technologies ("Cookies"). Usage Data may include information about how you access and use our Site and your account, including device information, browser information, information about your network connection, your IP address and other information regarding your interaction with the Services.</p>

        <h2 class="font-serif text-2xl mt-8 mb-3">Information We Obtain from Third Parties</h2>
    <p class="text-gray-700 leading-relaxed"> Finally, we may obtain information about you from third parties, including from vendors and service providers who may collect information on our behalf, such as:
Companies who support our Site and Services, such as Shopify.
Our payment processors, who collect payment information (e.g., bank account, credit or debit card information, billing address) to process your payment in order to fulfill your orders and provide you with products or services you have requested, in order to perform our contract with you.
When you visit our Site, open or click on emails we send you, or interact with our Services or advertisements, we, or third parties we work with, may automatically collect certain information using online tracking technologies such as pixels, web beacons, software developer kits, third-party libraries, and cookies.
Any information we obtain from third parties will be treated in accordance with this Privacy Policy. Also see the section below, Third Party Websites and Links.
</p>

        
</section>
{% endblock %}


